<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>&quot;Life is about making an impact, not making an income&quot; -Kevin Kruse</string>
	<string>&quot;Whatever the mind of man can conceive and believe, it can achieve&quot; –Napoleon Hill</string>
	<string>&quot;You miss 100% of the shots you don’t take&quot; –Wayne Gretzky</string>
	<string>&quot;The mind is everything. What you think you become&quot; –Buddha</string>
	<string>&quot;Your time is limited, so don’t waste it living someone else’s life&quot; –Steve Jobs</string>
	<string>&quot;I am not a product of my circumstances. I am a product of my decisions&quot; –Stephen Covey</string>
	<string>&quot;Whether you think you can or you think you can’t, you’re right&quot; –Henry Ford</string>
	<string>&quot;People often say that motivation doesn’t last. Well, neither does bathing.  That’s why we recommend it daily&quot; –Zig Ziglar</string>
	<string>&quot;Strive not to be a success, but rather to be of value&quot; –Albert Einstein</string>
	<string>&quot;I attribute my success to this: I never gave or took any excuse&quot; –Florence Nightingale</string>
	<string>&quot;Life is 10% what happens to me and 90% of how I react to it&quot; –Charles Swindoll</string>
	<string>&quot;The best time to plant a tree was 20 years ago. The second best time is now&quot; –Chinese Proverb</string>
	<string>&quot;Whatever the mind of man can conceive and believe, it can achieve&quot; –Napoleon Hill</string>
</array>
</plist>
